<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   config.plist
   WYJPLearn

   Created by weiyan on 15/12/19.
   Copyright (c) 2015年 LWY. All rights reserved.
-->
<plist version="1.0">
    <dict>
    </dict>
</plist>
